{% extends 'base.html'%}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css" />
<div class="container">
    <div class='Title'>About</div>
    <div class="section2">
        <div class="about">
            <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">Who are
                we?</h2><br>
            <p>
                Hello Reader, we hope that the main aim of you visiting our website is fulfilled,
                and believe that our website could be of small help to you. <br>If you have contributed to the resources
                section, then we are in debt of you and are more than thankful.
                We are a group of students, who <br>came up with this hope of helping others through a website and our
                only motive is to act on our side to
                provide to our citizens <br>of India in these tough times.
            </p>
        </div>
        <div class="about">
            <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">Our Aim
            </h2><br>
            <p>
                Concerned with the drastic increase of Covid-19 Cases in India, we are planning to make a little
                contribution from our side to help people in need.
                As we can see, Covid Patients are going out of Remdesivir Injections, Beds, Oxygen Tanks, Blood & Plasma
                and there is no central hub where people can reach out to for any help.<br>
                <br>
                All the information and helps available are scattered on social media platforms or other sources, in
                case if an individual needs a specific help, there is no such medium where one can provide information
                which will ensure
                that one might get the necessary help. So to overcome this problem we are developing a website that will
                contain all the states and their regions bifurcated with details of places where one can get those
                injections, beds, blood/plasma, etc.<br>
                <br>
                If anyone is willing to help, the person can add their details. In case anyone is in urgent need, they
                can reach out to people via this platform.
            </p>
        </div>
        <div class="about">
            <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">What can
                you do?</h2><br>
            <p>
                Be a part of our team and help us collect data of specific States.<br>
                Even a small help from your side would create an everlasting impact.<br>
                Let's be there for our people in these adversity.<br>
                let's unite before it's too late.
            </p>
        </div>

    </div>
    <div class="contact">
        <h2>Contact Details</h2><br>
        <p><a href="coviddata2021@gmail.com"> coviddata2021@gmail.com<br></a></p>
        <p>+91 7387357572<br></p>
        <p>+91 7738219351<br></p>

    </div>
    {% endblock %}