{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}" />

</head>

<body>
    <div class="header">
        <div class="logo">
        <a href="/"><img src="{% static 'images/LogoMask1.png' %}" style="height: 3.5rem; width:auto;" alt=""></a>
        </div>
        <div class="heading"><a href="/">Covid Hub </a> </div>
        <div class=" header-right">
            <a class="active" href="/">Home</a>
            <a href="/about">About</a>
            <a href="/fbform">Feedback</a>
        </div>
    </div>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <div class="footer">
            <p class="w">
            <h1>By the people. For the people.</h1>
            <div class="privacy_policy">
                <a href="https://docs.google.com/document/d/1JK3R7gcYFhJYW7FmQ8sZge8h8mQhHGf6yKe4j1tIyCA/edit"><h4>Privacy Policy</h4></a> 
            </div>
            <h2> &copy; 2021 This is a genuine attempt by a group of students to serve the society.</h2>
            </p>
        </div>
    </footer>
</body>
</html>