{% extends 'base.html'%}
{% block content %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/disclaimer.css' %}" type="text/css" />

    <div class="container">
        <div class='Title'>Disclaimer</div>
        <div class="section2">
            <div class="about">
                <!-- <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">Who are
                    we?</h2><br> -->
                <p>
                    The information provided by ‘we’ ‘us’ or ‘our’ on ‘covidhub.co.in’ (the ‘Site’) is for general informational 
                    purposes only. All information on our site is provided in truthfulness and earnestness. However, we make no 
                    representation or pledge of any kind, express or implied, regarding the accuracy, availability, adequacy, validity, 
                    or of any dependability of information on the site.
                </p>
            </div>
            <div class="about">
                <!-- <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">Our Aim
                </h2><br> -->
                <p>
                    Under no circumstances shall we have any obligation to you for any loss or damage of any kind sustained as a 
                    result of the use of our site or reliance on any information provided on our site. Your usage and reliance on 
                    any information on our site are solely at your own risk.
                </p>
            </div>
            <div class="about">
                <!-- <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">What can
                    you do?</h2><br> -->
                <p>
                    The Site may contain or may redirect you to other websites or content belonging to or originating from third 
                    parties or links to other websites and features in banners or other advertising. Such external links or the 
                    content that they pose are not investigated, monitored, or checked for accuracy, adequacy, validity, reliability, 
                    availability, or completeness by us.

                </p>
            </div>

            <div class="about">
                <!-- <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">What can
                    you do?</h2><br> -->
                <p>
                    *Please read our privacy policy <a href='/privacy' style="text-decoration-color: rgb(255, 176, 29); color:  rgb(255, 176, 29);">here.</a>

                </p>
            </div>
    
        </div>
        <div class="contact">
            <h2>Contact Details</h2><br>
            <p><a href="coviddata2021@gmail.com">coviddata2021@gmail.com<br></a></p>
        </div>
    </div>
{% endblock %}