{% extends 'base.html'%}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />
<div class="about-section">
  <p style="font-family: Oxygen, sans-serif ;font-size:52px; margin-top: -15px; margin-bottom: 50px;">Welcome!</p>
  <p style="margin-top: -10px;">We provide help and support through this platform by providing you with leads in Covid Resources.<br></p>
  <p>Any assistance or help required please feel free to contact us via coviddata2021@gmail.com</p>
</div>
<div class="disclaimer">
  <p>Please read the  <a href="https://docs.google.com/document/d/1k92vtZomrfCf1GxmMc_wNUWawz1LduOGutmHspebAz4/edit">disclaimer</a> carefully</p>
</div>
<div class="col-container">
  <div class="col">
    <h2 id="Heading">Helpful Resources</h2>
    <p id="InsideInfo">If you are in need of COVID resources <br> you can find them here</p>
    <br>
    <a href="/resources" style="text-decoration: none; color: white;">
      <br>
      <button class="button">Resources</button></a>
  </div>

  <div class="col">
    <h2>Need Help</h2>
    <p>If you still couldn't find what you wanted you can add your<br>  requirements here. Someone will contact you if they
      can help you.</p><br>

    <a href="/addpost" style="text-decoration: none; color: white;">
      <button class="button">Need Help</button> </a>
  </div>

  <div class="col">
    <h2>Want to help</h2>
    <p>If you want to help others then you can click below <br> to see who has what all requirements.</p>
    <br><br>
    <a href="/posts" style="text-decoration: none; color: white;">
      <button class="button">Help Others</button> </a>
  </div>

  <div class="col">
    <h2>Provide Resources</h2>
    <p>If you want to help others, You can add your resources here.</p><br>
    <a href="/addhelp" style="text-decoration: none; color: white;">
      <br>
      <button class="button">Add Your Resources</button> </a>
  </div>
</div>
{% endblock %}
