{% extends 'base.html'%}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}" type="text/css" />
<div class="selection_box">
    <div class="Regiondropdown">
        <div id="SelectRegion">
            <label id="LabelText">Choose a region:</label>
            <select id="Options">
                <optgroup label="Mumbai">
                    <option id="OptionText">Bhandup</option>
                    <option>Byculla</option>
                    <option>Mulund</option>
                </optgroup>
                <optgroup label="Mumbai Suburban">
                    <option>Thane</option>
                    <option>Kalyan</option>
                    <option>Ulhasnagar</option>
                </optgroup>
                <optgroup label="Navi Mumbai">
                    <option>Airoli</option>
                    <option>Panvel</option>
                    <option>Belapur</option>
                </optgroup>
            </select>
        </div>
    </div>

    <div class="Requirementdropdown">
        <div id="SelectRequirement">
            <label id="LabelText">Select Requirements:</label>
            <select id="Options">
                {% for res in res_type %}
                <option>{{res}} </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="resources_button">
        <button id="CommonResources">Common Resources</button>
    </div>
</div>
<div class="whole_card">
    {% for post in posts %}
    <div class="card1">
        <div class="State" style="color: black;">
            <h2>State: Maharashtra</h2>
        </div>
        <div class="container">
            <p>Location:{{post.state}}</p>
            <p>Contact Number:{{post.phone}} </p>
            <p>Name: {{post.name}}</p>
            <p>Requirement:{{post.description}}
            </p>
            <p>Status: </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}