{% extends 'base.html'%}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/privacy.css' %}" type="text/css" />

    <div class="container">
        <div class='Title'>Privacy Policy</div>
        <div class="section2">
            <div class="about">
                <h5 style="margin:0px ;">Last updated on: 4:30PM, 27th April, 2021 </h5><br>
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">1. General
                </h2><br>
                <p>
                    This Website with the URL of ‘covidhub.co.in’ (‘Website/Site’) is operated by a group of people who have come 
                    together for a cause ("We/Our/Us We are committed to protecting and respecting your privacy). We do collect your 
                    personal information and process your data in accordance with the IT Act, 2000 (21 of 2000) and other national and 
                    state laws which relate to the processing of personal data. Please read the following carefully to understand our 
                    views and practices regarding your data. <br><br>
                    a. We collect your personal information to serve your requirements and continually improve our services. <br><br>
                    b. Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically. <br><br>
                    c. All partner firms and any third party working with or for us, and who have access to the personal information, will be expected to read and comply with this policy.
                </p>
            </div>
            <div class="about">
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">2. How we collect the information
                </h2><br>
                <p>
                    From you directly and we may also collect information through the Website when you enter your details for your 
                    requirements. The data we collect depends on the context of your interactions with our Website.
                </p>
            </div>
            <div class="about">
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">3. Information we collect
                </h2><br>
                <p>
                    a. We collect information primarily to provide better services to all of our users. <br> <br>
                    b. We collect the following information from you when you use our Website: <br> <br>
                   <i> &ensp;&ensp;&ensp;&ensp; Name, location, state, and city, contact number, and email id, and requirement type. </i> <br> <br>
                    c. When you visit the Website, some information is automatically collected. This may include information such as the Operating Systems (05) running on your device. Internet Protocol (IP) address, access times, browser type, and language, and the website you visited prior to viewing our website. <br> <br>
                    d. We will retain your information as long as we require it to provide you with the services and for an acute period as mandated by the concerned lawn. 

                </p>
            </div>

            <div class="about">
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">4. How we use User's information
                </h2><br>
                <p>
                    a. We use the information we collect primarily to provide, maintain, protect and improve our current services. <br><br>
                    b. We use the information collected through this website as described in this policy and we may use your information to: <br><br>
                    &ensp;&ensp;I. Improve our services, Site and our working <br><br>
                    
                    &ensp;&ensp;II. Understand and enhance your experience and requirements of using our Site <br><br>

                    &ensp;&ensp;III. Provide a larger set of information according to your requirements <br><br>
                    
                    &ensp;&ensp;IV. Provide customer support and respond to your requests, comments, and inquiries <br><br>

                    &ensp;&ensp;V. Send you related information, including confirmations, formal notices, updates, security alerts and support and administrative messages <br><br>
                    
                    &ensp;&ensp;VI. We may process your personal information without your knowledge or consent where required by applicable law or regulation for the purposes of verification of identity or for prevention, detection, or investigation, including cyber incidents, prosecution, and punishment of offenses. <br><br>
                    
                    &ensp;&ensp;VII. Protect, investigate, and deter against fraudulent, unauthorized, or illegal activities

                </p>
            </div>

            <div class="about">
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">5. Data Transfer
                </h2><br>
                <p>
                    a. Information about our user is an important part of our service and we take due care to protect the same. <br> <br>
 
                    b. We share your data with your consent or to provide any service you have requested. We also share data with our affiliates and subsidiaries, with members working on our behalf. We may employ other organizations and individuals to perform functions on our behalf. The function may be any work that we are performing at the given point in time. <br> <br>
                    
                    c. These third-party service providers have access to personal information needed to perform their functions. Further, they must process the personal information in accordance with this Privacy Policy and as permitted by applicable data protection laws. <br> <br>
                    
                    d. We release accounts and other personal information when we believe it is appropriate to comply with the law enforcement or apply our conditions of use and other agreements, protect the rights, property, or safety of us, our users, or others. This includes exchanging information with other organizations for fraud protection and credit risk reduction.
                </p>
            </div>

            <div class="about">
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">6. Data Security

                </h2><br>
                <p>
                    a. We take due care to protect user data. Technical measures are in place to prevent unauthorized or unlawful access to data and against accidental loss or destruction of, or damage to, data.
                    <br><br>
                    b. We take reasonable steps to help protect personal information to prevent loss, misuse, and unauthorized access, disclosure alteration, and destruction.

                </p>
            </div>

            <div class="about">
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">7. Links to third party apps/sites


                </h2><br>
                <p>
                    Our Site may, from time to time contain links to and from other websites of third parties. Please note that if 
                    you follow a link to any of these websites, such websites will apply different terms to the collection and privacy 
                    of your data and we do not accept any responsibility or liability for these policies. When you leave our Site, we 
                    encourage you to read the privacy policy of every website you visit.
                </p>
            </div>

            <div class="about">
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">8. Sharing of personal information



                </h2><br>
                <p>
                    We do not share your data with third parties without your prior consent other than <br> <br>
 
                    I. With third parties who work on our behalf provided such third parties adhere to the data protection principles set out in the IT Act, 2000 (21 of 2000) and other applicable legislation, or enter into a written agreement with Us requiring that the third party provide at least the same level of privacy protection as is required by such principles. <br> <br>
                    
                    II. To comply with laws or to respond to lawful requests and legal process <br> <br>

                    III. To protect the rights and property of our organization, our agents, customers, and others including to enforce our agreements, policies, and terms of use.

                </p>
            </div>

            <div class="about">
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">9. Children

                </h2><br>
                <p>
                    If you are under 18, or the age of majority in the jurisdiction in which you reside, you may only use our 
                    Website with the consent of your parent or legal guardian. In any case, we will not be liable for any cause of 
                    action that arose due to non-compliance with this section.

                </p>
            </div>

            <div class="about">
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 176, 29);">10. Changes to this Policy


                </h2><br>
                <p>
                    a. We may change this policy from time to time. If we make any changes to this policy, we will change the Last Updated date above. You agree that your continued use of our services after such changes have been published to our services will constitute your acceptance of such revised policy. <br><br>
 
                    b. If you have any concern about privacy or grievances with our services, please contact us with a thorough description and we will try to resolve the issue for you.


                </p>
            </div>
    
        </div>
        <div class="contact">
            <h2>Contact Details</h2><br>
            <p><a href="coviddata2021@gmail.com">coviddata2021@gmail.com<br></a></p>
        </div>
{% endblock %}