{% extends 'base.html'%}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'req.css' %}" type="text/css" />
<div class="container">
  <div class="imgdiv2">
    <img src="{% static 'reqicon.png' %}" alt="">
  </div>
  {% if msg %}
  <div class="message">{{msg}} </div>
  {% endif %}
  <div class="Title">Request Form</div>
  <form method="POST" action="{% url 'addpost' %}">
    {% csrf_token %}
    <label for="fname">Name</label>
    <input type="text" id="fname" name="name" placeholder="Enter your Full name" required>
    <label for="location">Email ID</label>
    <input type="text" id="lname" name="email_id" placeholder="Enter your Email ID" required>
    <label for="location">Contact Number</label>
    <input type="text" id="contact" name="phone" placeholder="Enter your contact number" required>
    <label for="state">Region</label>
    <select id="state" name="state">
      <!-- <optgroup label="Maharashtra"
            style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;"></optgroup>
          <option value="Mumbai">&nbsp;&nbsp;&nbsp;&nbsp;Mumbai</option> -->
      {% for choice,value in state_choices %}
      <option value="{{ choice }}">{{ value }}</option>
      {% endfor %}
    </select>
    <label for="Your Helping Resources">Your Helping Resources</label>
    <textarea id="subject" name="description" placeholder="Please describe how you are providing your help. "
      style="height:200px"></textarea>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}