{% for post in posts %}
<div class="card1">
    <div class="State">
        <h2>State: {{post.state}}</h2>
    </div>

    <div class="container">
        
        {% if post.verified %}
        <div class="verified_badge">
            {% load static %}
            <img src="{% static 'images/correct.png' %}" style="width: 35px; height: 35px;" alt="">
            <!--<div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
        </div>
        {% else %}
        <div class="verified_badge">⛔</div>
        {% endif %}
        <p>Location:{{post.city}}</p>
        <p>Contact Number:{{post.phone}} </p>
        <p>Name: {{post.contact_name}}</p>
        <p>Resource:{{post.resource_name}}
        </p>
        <p> Web site: <a href="{{ post.web_site }} ">{{ post.web_site }}</a> </p>
        <p>Status: {{ post.description }}</p>
        <p> Updated at : {{ post.updated_at }} </p>
        {% if user.is_authenticated %}
        <div class="EdDelVer">
            <a href="{% url 'editResource' post.id %}" style="text-decoration: none;"><button
                    class="Edit">Edit</button></a>
            <a href="{% url 'deleteResource' post.id %}" style="text-decoration: none;"><button
                    class="Delete">Delete</button></a>
        </div>
        {% endif %}

    </div>
</div>
{% endfor %}