.selection_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Regiondropdown {
    padding: 10px;
}

.Regiondropdown option {
    padding: 20px;
}

#SelectRegion {
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(204, 204, 204);
    box-shadow: 0 3px 1rem rgb(0 0 0 / 20%);
}

.Requirementdropdown {
    padding: 10px;
}

#SelectRequirement {
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(204, 204, 204);
    box-shadow: 0 3px 1rem rgb(0 0 0 / 20%);
}

#LabelText {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 20px;
}

#Options {
    background-color: rgb(204, 204, 204);
    font-size: 20px;
}
.resources_button {
    padding: 10px;
}
.resources_button button {
    border: none;
    padding: 20px;
}

#CommonResources, #show_all  {
    width: calc(100%-20px) ;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 3px 1rem rgb(0 0 0 / 20%);
    cursor: pointer;
}

#CommonResources:hover, #show_all:hover {
    background-color: #adadad;
    color: rgb(0, 0, 0);
    transition: 0.2s;
}

.whole_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 30px;
}

.card_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.verified_badge {
    display: flex;
    justify-content: center;
}

.whole_card p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card1 {
    margin: 10px;
    width: calc(100%-20px);
    display: flex;
    flex-direction: column;
    border: 1px rgb(211, 211, 211) solid;
    border-radius: 15px;
    box-shadow: 2px 2px 9px rgb(182, 182, 182);
}

.State {
    height: 78px;
    background: rgb(1, 78, 141);
    color: white;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-family: "Red Hat Display", sans-serif;
}

.container {
    padding: 12px;
    margin: 10px;
    color: rgb(0, 0, 0);
}

.EdDelVer button {
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px ;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Edit {
    background-color: #009de6;
}
.Delete {
    background-color: #db1200;
}

.Edit:hover {
    background-color: #0078af;
}
.Delete:hover {
    background-color: #a80e00;
}

.EdDelVer {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1400px) {
    .whole_card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .selection_box {
        font-size: 10px;
        flex-wrap: wrap;
    }
    .Regiondropdown {
        font-size: 20px;
    }
    .Requirementdropdown {
        font-size: 20px;
    }

}

@media only screen and (max-width: 1080px) {
    .whole_card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    #CommonResources, #show_all {
        font-size: 20px;
    }
    #LabelText {
        font-size: 25px;
    }
}

@media only screen and (max-width: 666px) {
    .whole_card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    #CommonResources {
        font-size: 20px;
    }
    #LabelText {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1250px) {
    .selection_box {
        font-size: 10px;
        flex-wrap: wrap;
    }
    .Regiondropdown {
        font-size: 20px;
    }
    .Requirementdropdown {
        font-size: 20px;
    }
}

@media only screen and (max-width: 840px) {
    .wholecardsection{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .selection_box {
        font-size: 10px;
        flex-wrap: wrap;
    }
    .Regiondropdown {
        font-size: 20px;
    }
    .Requirementdropdown {
        font-size: 20px;
    }
    #CommonResources {
        font-size: 20px;
    }
}

@media only screen and (max-width: 630px) {
    .selection_box {
        font-size: 10px;
        flex-wrap: wrap;
    }
    .Regiondropdown {
        font-size: 10px;
    }
    .Requirementdropdown {
        font-size: 10px;
    }
    
}
