@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Red+Hat+Display:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
body,
head {
    padding: 0;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffcf3;
    max-width: calc(100%-20px);
    height:auto;
}

.header {
    overflow: hidden;
    background-color: rgb(216, 216, 216);
    padding: 8px 8px;
    margin-bottom: 20px;
    font-family: "Oxygen", sans-serif;
    overflow-x: hidden;
}

.header p{
    font-family: 'Philosopher', sans-serif;
    text-align:center;
    font-size: 60px;
    flex: 60%;
    margin-bottom: -8px;
    margin-top: 13px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: rgb(241, 241, 241);
    color: black;
    transition: 0.4s;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
}

img{
    width: 180px;
    height:auto;
}

.footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: calc(100%-20px);
    background-color: rgb(198, 205, 207);
    color: rgb(26, 26, 26);
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    padding: 10px;
}
@media only screen and (max-width: 780px) {
    head,
    body {
        margin: 0px;
        padding: 0px;
        justify-content: center;
        max-width: 100%;
        overflow-x: hidden;
    }
    .contact {
        font-size: 30px;
    }

    .footer {
        left: 0;
        bottom: 0;
        width: calc(100%-20px);
        font-size: 8px;
        padding: 10px;
    }
    .header p{
        font-size: 40px;
    }
}
